@media screen and (max-width: 480px) {
    body {
        width: auto;
        margin: auto;
        text-align: left;
        background-repeat: no-repeat;
    }

    #header {
        border-bottom: none;
    }

    footer {
        width: auto;
        bottom: 0;
        position: relative;
        background-color: aqua;
        float: left;
    }

    .navigation-button {
        float: none;
    }

    #navigation-bar {
        float: none;
    }
}

body {
    height: 100%;
    position: inherit;
    width: 100%;
    margin: auto;
    min-width: 600px;
    max-width: 2000px;
}

section {
    overflow: hidden;
}

footer {
    width: 100%;
    bottom: auto;
    position: absolute;
    background-color: rgba(50, 50, 50, 0.9);
    height: 172px;
}

#header {
    width: 100%;
    border-bottom: 1px solid black;
    display: inline-block;
    overflow: hidden;
}

#logo-div {
    width: 19%;
    float: left;
}

#logo-div {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#logo-div:hover {
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0deg);;
    }
    to {
        -webkit-transform: rotateY(-360deg);
    }
}

img {
    height: 4.5em;
    width: 230pt;
}

#navigation-bar {
    width: 80%;
    float: right;
}

.navigation-button {
    margin: 1%;
    font-size: 18pt;
    float: left;
    width: 17%;
    text-align: center;
}

.navigation-button:last-child {
    border-right: 0;
}

a {
    text-decoration: none;
    color: black;
}

.car {
    background-size: cover;
    height: 450px;
    width: 50%;
}

.carSelectBox {
    width: 125pt;
    margin: 1%;
    padding: 1%;
    color: #ffffff;
    float: left;
}

#carSelectorBox {
    width: 450pt;
    padding: 1%;
    float: right;
    background-color: rgba(50, 50, 50, 0.9);
    position: relative;
}

#signUpForm {
    width: 487pt;
    float: right;

}

.signUpTextField {
    margin-bottom: 0%;
}

.find-your-car-select-box {
    width: 125pt;
    height: 20pt;
    margin: 1%;
    padding: 1%;
}

input {
    height: 20pt;
    margin: 1em;
}

label {
    width: 150pt;
    font-size: 21pt;
}

#ferrari {
    background-image: url("../Images/laferrari.bmp");
    display: block;
    background-size: 100% 100%;
    border-radius: 5px;
    height: 450px;
    width: 50%;
    float: left;
    -webkit-animation: ferrari 15s infinite;
    overflow: hidden;
    position: relative;
}

#ferrari:hover {
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes ferrari {

    25% {
        background-image: url("../Images/laferrari.bmp");
    }
    50% {
        background-image: url("../Images/FERRARI-LaFerrari-4797_35.jpeg");
    }
    75% {
        background-image: url("../Images/la_ferrari_114041_original.jpg");
    }
    100% {
        background-image: url("../Images/2013-03-05_Geneva_Motor_Show_8278.JPG");
    }
}

#pagani {
    background-image: url("../Images/pagani-zonda-cinque.jpg");
    background-size: 100% 100%;
    border-radius: 5px;
    height: 450px;
    width: 50%;
    float: right;
    -webkit-animation: pagani 15s infinite;
}

#pagani:hover {
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes pagani {
    25% {
        background: url("../Images/pagani-zonda-cinque.jpg");
        background-size: 100% 100%;
    }
    50% {
        background: url("../Images/2010-Pagani-Zonda-Tricolore-4.jpg");
        background-size: 100% 100%;
    }
    75% {
        background: url("../Images/pagani-zonda-r-supercar-black.jpg");
        background-size: 100% 100%;
    }
    100% {
        background: url("../Images/pagani-zonda-08.jpg");
        background-size: 100% 100%;
    }
}

#paragraphAboutUs {
    height: 450px;
    width: 50%;
    float: right;
}

#aboutUs {
    padding-top: 27%;
    padding-left: 7%;
    font-size: 24pt;
    font-family: "Bodoni MT";
    font-style: italic;
    text-shadow: 1px 3px 3px rgba(50, 50, 50, 0.9);
}

#footer-navigation-bar-shop-for-a-car {
    width: 180px;
    margin-left: 10%;
    float: left;
}

.footer-navigation-button {
    font-size: 16pt;
}

#footer-navigation-my-account {
    width: 180px;
    margin-left: 15%;
    float: left;
}

#footer-navigation-about-us {
    width: 180px;
    margin-left: 15%;
    float: right;
}

#footer-navigation-research-cars {
    width: 180px;
    margin-left: 15%;
    float: right;
}

#my-account {
    padding-top: 5%;
    font-size: 20pt;
    color: #ffffff;
}

#shopForACar {
    padding-top: 5%;
    font-size: 20pt;
    color: #ffffff;
}

#about-us {
    padding-top: 5%;
    font-size: 20pt;
    color: #ffffff;
}

#research-cars {
    padding-top: 5%;
    font-size: 20pt;
    color: #ffffff;
}

#signupLabel {
    font-size: 13pt;
    font-family: "Bodoni MT";
    font-style: italic;
}

#signIn {
    float: right;
    color: #ffffff;
    height: 65px;
}

#signUpSpan {
    padding-left: 2%;
    font-size: 24pt;
    font-family: "Bodoni MT";
    font-style: italic;
}

/*table code*/
.table {
    width: 80%;
    margin-left: auto;

}

#BadgesTable {
    padding-bottom: 3%;
}

.table-row {
    width: 98%;
    display: table;
}

.table-rowSearch {
    width: 98%;
    display: inline-table;
}

.table-cellSearch {
    width: 320px;
    height: 100pt;
    padding-top: 2%;
    display: inline-table;
    vertical-align: middle;
    text-align: center;
    margin-left: 5%;
}

.table-cell {
    width: 320px;
    height: 100pt;
    padding-top: 2%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.flipcard {
    position: relative;
    width: 384px;
    height: 216px;
    perspective: 500px;
}

.flipcard.v:hover .front, .flipcard.v.flip .front {
    transform: rotateX(180deg);
}

.flipcard.v:hover .back, .flipcard.v.flip .back {
    transform: rotateX(0deg);
}

.flipcard.v .back {
    transform: rotateX(-180deg);
}

.flipcard.h:hover .front, .flipcard.h.flip .front {
    transform: rotateY(180deg);
}

.flipcard.h:hover .back, .flipcard.h.flip .back {
    transform: rotateY(0deg);
}

.flipcard.h .back {
    transform: rotateY(-180deg);
}

.flipcard .front, .flipcard .back {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.5s ease-in;
    color: white;
    background-color: #000;
    backface-visibility: hidden;
}

.form {
    width: 25%;
}

.form-row {
    width: 50%;
    height: 40pt;
    display: table;
}

.form-left-cell, .form-right-cell {

    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.featuredCars {
    width: 384px;
    height: 216px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.featuredCars:hover {
    opacity: 0.7;
}

.featuredCarsSpan {
    padding-left: 4%;
    font-size: 28pt;
    font-family: "Bodoni MT";
    font-style: italic;
}

.carInfo {
    font-size: 16pt;
    font-family: "Bodoni MT";
    font-style: italic;
}

#advancedSearch {
    margin-top: 2.5%;
    margin-left: 2%;
    padding-left: 1%;
    padding-top: 1%;
    background-color: rgba(50, 50, 50, 0.9);
    color: #ffffff;
    float: left;
    width: 300px;
}

.submitButton {
    width: 125px;
    height: 30px;
}

.checkbox {
    height: 25px;
    width: 25px;
}

.Badges {
    height: 150px;
    width: 150px;
}

.FindYourCar {
    font-size: 20pt;
    font-family: "Bodoni MT";
    font-style: italic;
}

.priceBoxes {
    display: inline-block;
}

.yearOfCars {
    display: inline-block;
}

.makeOfCars {
    display: inline-block;
}

.divisionLabel {
    font-size: 16pt;
    font-family: "Bodoni MT";
    font-style: italic;
}

#searchButton {
    display: inline-block;
    margin-left: 22%;
}

#pretentious-paragraph {
    text-align: center;
    font-size: 26pt;
    font-family: "Bodoni MT";
    font-style: italic;
}

#about-us-paragraph {
    padding-top: 4%;
    padding-bottom: 4%;
}

#Form-Sell-Car {
    margin-left: 15%;
    align-content: center;
}

.VehicleDetails {
    font-size: 13pt;
    font-family: "Bodoni MT";
    font-style: normal;
}

.SellCarFormLabels {
    padding-left: 1%;
    font-size: 12pt;
    font-family: "Bodoni MT";
}

.advancedSearchSelectBox {
    width: 125px;
    margin: 1%;
    height: 25pt
}

.sellCarSelectBox {
    width: 500px;
    margin: 1%;
    height: 25pt;
}

#sellerComments {
    margin-left: 0.5%;
}

#feedbackParagraph {
    font-size: 18pt;
    font-family: "Bodoni MT";
}

#feedbackForm {
    text-align: center;
    float: inherit;
}

#feedbackTextAreaLabel {
    font-size: 14pt;
    font-family: "Bodoni MT";
}

#myAccountDiv {
    text-align: center;
}

#map {
    width: 600px;
    height: 500px;
    margin-left: 4%;
}

#contactDetails {
    width: 600px;
    height: 400px;
    margin-top: 11.5%;
    margin-right: 30%;
    float: right;
}

#contactUsAddress {
    font-family: "Bodoni MT";
    font-style: italic;
    font-size: 24pt;
}

.tweakedFooter {
    bottom: 0;
}

.tweakedFooterSearch {
    bottom: auto;
    /* display: inline-block;*/
    position: absolute;
}

#contactTitle {
    font-family: "Bodoni MT";
    font-style: italic;
    font-size: 40pt;
}

#profilePicture {
    width: 405px;
    height: 305px;
    border-radius: 5px;
}

#profilePictureDiv {
    float: left;
    margin-top: 1%;
    margin-left: 3%;
}

#yourDetails {
    font-family: "Bodoni MT";
    font-style: normal;
    font-size: 20pt;
    text-align: left;
    float: left;
    margin-left: 2%;
}

#accountOptions {
    position: absolute;
    text-align: left;
    font-family: "Bodoni MT";
    font-style: normal;
    font-size: 16pt;
    margin-top: 20%;
    margin-left: 3%;
    float: left;
}

#carsCurrentlyBeingSold {
    float: left;
    margin-left: 2%;
    margin-right: 3%;
}

.carsForSale {
    height: 144px;
    width: 256px;
    float: right;
    margin-left: 1%;
    margin-bottom: 10%;
}

.selectedCar {
    float: left;
}

.carDescription {
    font-family: "Bodoni MT";
    text-align: left;
    font-style: normal;
    font-size: 17pt;
    float: right;
    width: 250px;
    margin-left: 2%;
    margin-right: 2%;
}

#editListingToggles {
    margin-right: 40%;
    float: right;
}

#yourListingLabel {
    font-family: "Bodoni MT";
    font-style: italic;
    font-size: 26pt;
    margin-right: 22%;
    float: right;
}

input:focus {
    background-color: rgba(50, 50, 50, 0.9);
    color: white;
}

.requiredField {
    color: red;
    font-size: 9pt;
    margin-left: 2%;
    margin-right: 13%;
    font-family: "Bodoni MT";
    visibility: hidden;
}

#uploadImages {
    font-family: "Bodoni MT";
    margin-left: 1.5%;
}

.checkBoxForCars {
    margin-top: 7%;
    margin-left: 20%;
}

#signOut {
    float: left;
    font-family: "Bodoni MT";
    font-size: 9pt;
    margin-left: 5%;
}